html,
body {
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}
button,
input[type="checkbox"] {
    outline: none;
}
.hidden {
    display: none;
}
.feedreaderapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.feedreaderapp input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}
.feedreaderapp input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}
.feedreaderapp input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}
.feedreaderapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
.input-feed-uri {
    position: relative;
    margin: 0;
    width: 85%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.input-feed-uri {
    padding: 16px 16px 16px 16px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}
.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
.product-list li:last-child {
    border-bottom: none;
}
.product-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
}
.product-list li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}
.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}
.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.product-count {
    float: left;
    text-align: left;
}
.product-count strong {
    font-weight: 300;
}
.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}
.info p {
    line-height: 1;
}
.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}
.info a:hover {
    text-decoration: underline;
}
@media (max-width: 430px) {
    .footer {
        height: 50px;
    }
}

/* Product styling */
.feedreaderapp .product {
    background: #fff;
    border-bottom: dotted 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding: 10px;
}
/* product images layout */
.feedreaderapp .product .image {
    overflow: hidden;
    position: relative;
    border: 1px solid #f0f0f0;
    float: left;
}
.feedreaderapp .product .image:hover
{
    border: 1px solid #F39300;
}
.feedreaderapp .product .image img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    height: 100px;
    width: 100px;
}
@media (max-width: 767px) {
    /* images responsive */
    .feedreaderapp .product .image img.img-responsive {
        min-width: 100%
    }
}
/* quick view button css */
.product .image .quick-view-button {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -50px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out
}
.product .image .quick-view-button .btn {
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 11px;
    width: 100px;
    text-align: center
}
@media (max-width: 767px) {
    .product .image .quick-view-button {
        display: none
    }
}
/* text padding */
.feedreaderapp .product .text {
    padding: 10px;
    float: left;
}
/* product title */
.feedreaderapp .product .text h3 {
    font-size: 18px;
    font-weight: 700;
    height: 43.2px;
    margin-bottom: 0
}
.feedreaderapp .product .text h3 a {
    color: #555
}
/* product price */
.feedreaderapp .product .text p.price {
    font-size: 18px
}
.feedreaderapp .product .text p.price del {
    color: #999
}
/* product button */
.feedreaderapp .product .buttons {
    clear: both;
    position: absolute;
    display: none;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px transparent;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: center
}
.feedreaderapp .product .buttons .btn {
    margin-bottom: 20px
}
/* product hover */
.feedreaderapp .product:hover {
    border-bottom: solid 1px #F39300;
    top: 0
}
.feedreaderapp .product:hover .quick-view-button .btn {
    opacity: .9;
    filter: alpha(opacity=80)
}
.feedreaderapp .product:hover .image img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}
.feedreaderapp .product p.brand {
    font-weight: 400;
    font-size: 12px;
    text-align:left;
}
/* price tag */
.pu-price
{
    text-align:left;
}
/* price line through */
p.cross {
    text-decoration:line-through;
    font-size:11px;
    color: #848484;
    border-bottom:1px solid #ccc;
}
.pu-price .pu-discount {
    color: #848484;
    padding-bottom: 2px;
}
.pu-old {
    color: #848484;
    text-decoration: line-through;
}
.pu-border-top {
    border-top: 1px solid #c9c9c9;
}
/* finela price */
.pu-final {
    color: #333;
    padding: 2px 0px;
}
.fk-font-17 {
    font-size: 17px;
}
/* font weight */
.fk-bold {
    font-weight: bold;
}
.pu-emi {
    color: #565656;
}
.fk-font-12 {
    font-size: 11px;
}
.pu-usp {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 11px;
    list-style-type: disc;
    margin-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
}
/* list type */
ul.pu-usp li {
    font-size:11px !important;
    color:#848484;
    line-height:20px !important;
}
/* float right */
.new-float
{
    float:right;
}

/* button default */
.product .image .quick-view-button .btn {
    background: #F39300;
    color: #fff;
    border: solid 1px #F39300;
}
@media (max-width: 991px) {
/* product short */
.feedreaderapp .info-bar .products-sort-by {
    margin: 0
}
}
@media (max-width: 767px) {
.feedreaderapp .info-bar .products-sort-by {
    text-align: center;
    margin: 10px 0 0
}