{% extends "base.html.twig" %}

{% block title %}feed reader{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    <!-- Google web font  -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <section class="feedreaderapp">
        <header class="header">
            <h1>feedreader</h1>
            <div class="alert alert-danger fade in" style="display:none;"></div>
            <input class="input-feed-uri" placeholder="Enter product feed URI" autofocus="">
        </header>
        <section class="main">
            <ul class="product-list"></ul>
        </section>
        <footer class="footer"></footer>
    </section>
    <footer class="info">
        <p>Enter product feed URI and press return key</p>
        <p>Written by Gani</p>
        <p>Part of feed reader</p>
    </footer>

    <script type="text/template" id="item-template">
        <div class="product">
            <div class="image">
                <a href="<%= productURL %>" class="animated fadeInDownShort"><img src="<%= imageURL %>" alt="" class="img-responsive"></a>
                <div class="quick-view-button"><a href="<%= productURL %>"  class="btn btn-default btn-sm">View Detail</a></div>
            </div>
            <div class="text">
                <p class="brand"><a href="<%= productURL %>" class="animated fadeInDownShort"><%= name %></a></p>
                <div class="pu-price">
                    <div class="pu-border-top">
                        <div class="pu-final">
                            <span class="pu-emi fk-font-12">Price:&nbsp;</span>
                            <span class="fk-font-17 fk-bold"><i class="fa fa-inr"><%= price %></i>&nbsp;<%= currency %></span>
                        </div>
                        <div class="pu-emi fk-font-12">Description:&nbsp;<%= description %></div>
                        <div class="pu-emi fk-font-12">Categories:&nbsp;<%= categories %></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block javascripts %}
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/underscore/underscore-min.js"></script>
    <script src="assets/vendor/backbone/backbone-min.js"></script>
    <script src="assets/vendor/event-source-polyfill/eventsource.min.js"></script>
    <script src="assets/js/models/product.js"></script>
    <script src="assets/js/collections/products.js"></script>
    <script src="assets/js/views/product-view.js"></script>
    <script src="assets/js/views/app-view.js"></script>
    <script src="assets/js/app.js"></script>
{% endblock %}